/* ====================================================================================
                                       fonts 
 ====================================================================================== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* ======================================================================================
                                 common styles or utilities 
  ========================================================================================= */
body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}
.container {
  width: 1200px;
}

/* ========================================
           website name and menubar styles
======================================== */
header {
  display: flex;
  justify-content: center;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 px;
}
.website-name {
  font-size: 24px;
  font-weight: 700;
}
.fa-shopping-cart {
  font-size: 20px;
  color: #000;
}

/* ================================
          header banner styles 
================================ */
.header-banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.banner-title {
  color: #3a3a3a;
  font-size: 52px;
  line-height: 70px;
  font-weight: 700;
  color: #3a3a3a;
  margin-bottom: 0px;
}
.banner-info {
  font-size: 16px;
  font-weight: 600;
  color: #3a3a3a;
}
.hit-button {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  background-color: #e02c6d;
  color: #fff;
  padding: 10px 20px;
  border-radius: 25px;
}
.fa-arrow-right {
  padding-left: 7px;
}

.banner-right {
  padding-left: 125px;
}

/* =======================================
            Popular Collection styles 
========================================== */
section.popular-section {
  margin: auto;
}
.collections {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  grid-column-gap: 44px;
  justify-items: center;
}
.collection {
  width: 330px;
}
.section-title {
  font-size: 28px;
  font-weight: 600;
  color: #3a3a3a;
  text-align: center;
}
.collection-banner img {
  height: 256px;
  width: 300px;
  border-radius: 5px;
}
.collection-title {
  font-size: 28px;
  font-weight: 500;
  color: #18191f;
  margin-top: 5px;
  margin-bottom: 0px;
}
.collection-price {
  margin-top: 10px;
  font-size: 24px;
  color: #000;
  font-weight: 400;
  margin-bottom: 5px;
}
.collection-info span {
  font-size: 14px;
  font-weight: 700;
  color: #5e6366;
}
.fa-star {
  font-size: 12px;
}
.fa-star.filled {
  color: #fb8200;
}
.fa-star.empty {
  color: #aeaeae;
}
.buying-method {
  font-size: 14px;
  font-weight: 700;
  color: #787885;
}
